<?xml version="1.0" encoding="utf-8" ?>
<Defs>
	<XmlExtensions.SettingsMenuDef>
		<defName>decaf_AWC_settingsmenu</defName>
		<modId>decaf.adjustablewealthcap</modId>   
		<label>Adjustable Wealth Cap</label>
		<settings>
			<li Class="XmlExtensions.Setting.Text">
				<text>Adjustable Wealth Cap</text>
					<anchor>Middle</anchor>
					<font>Medium</font>
			</li>
			<li Class="XmlExtensions.Setting.GapLine"/>
			<li Class="XmlExtensions.Setting.Group">
				<tag>decaf_AWC_inject_settings</tag>
				<settings>
					<!--inject settings -->
				</settings>
			</li>
			<li Class="XmlExtensions.Setting.Gap">
				<spacing>12</spacing>
			</li>
			<li Class="XmlExtensions.Setting.ResetSettings"/>
		</settings>
		<postCloseActions>
		</postCloseActions>
	</XmlExtensions.SettingsMenuDef>
</Defs>